<section id="features">
  <div class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12">
    <div class="mx-auto max-w-5xl text-center">
      <div>
        <p class="text-black font-extrabold lg:text-5xl text-4xl tracking-tighter">
          Cosa otterrai con&nbsp;<span class="lg:block">Agency OS?
          </span>
        </p>
      </div>
    </div>
    <div>
      <div class="mx-auto max-w-7xl pt-12">
        <h2 class="sr-only">Vantaggi Agency OS</h2>
        <div>
          <div class="grid gap-12 grid-cols-1 lg:space-y-0 lg:text-center md:grid-cols-2">
            <div>
              <div class="mt-4 text-center text-black text-base">
                Avrai accesso ad un <strong>sistema tailor made per la tua Digital Agency</strong>, il risultato della raccolta di best practices di decine e decine di sistemi costruiti per i nostri clienti come te.
              </div>
            </div>
            <div>
              <div class="mt-4 text-black text-center text-base">
                Il tuo business avrà le fondamenta organizzative di <strong>un unico sistema centralizzato, per scalare</strong>.
              </div>
            </div>
            <div>
              <div class="mt-4 text-black text-center text-base">
                Agency OS è il primo sistema operativo di gestione aziendale <strong>basato su Notion e completamente in italiano.</strong>
              </div>
            </div>
            <div>
              <div class="mt-4 text-black text-center text-base">
                Scegliendo Agency OS <strong>risparmierai decine di ore di tempo</strong> nella ricerca e implementazione di tanti altri strumenti per gestire le tue informazioni.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mx-auto max-w-7xl pt-24 flex justify-center">
      <a class="items-center btn cube cube-hover justify-center font-medium inline-flex bg-black duration-200 hover:bg-transparent hover:text-whiste lg:w-auto px-6 py-3 text-center text-white w-full"
        href="#pricing">
        <div class="bg-top">
          <div class="bg-inner"></div>
        </div>
        <div class="bg-right">
          <div class="bg-inner"></div>
        </div>
        <div class="bg">
          <div class="bg-inner"></div>
        </div>
        <div class="text">Voglio Agency OS!</div>
      </a>
    </div>
  </div>
</section>