<section aria-labelledby="pricing-section" id="pricing">
  <div class="lg:px-16 max-w-7xl md:px-12 mx-auto px-8 py-24 scroll-mt-12">
    <div class="text-center">
      <h2 class="text-black font-extrabold lg:text-5xl text-4xl tracking-tighter">
        Acquista Agency OS entro Natale! 🎄
        <span class="lg:block"></span>
      </h2>
    </div>
  </div>
  <div class="items-center px-8 lg:pt-12 pb-24 mx-auto max-w-7xl lg:px-16">
    <div
      class="flex lg:flex-row sm:flex-col flex-col  max-w-2xl  py-4 -mx-4  gap-y-10 gap-x-10 sm:mx-auto lg:max-w-none xl:gap-x-3 lg:bg-white">
      {/*
      <section class="flex flex-col px-6 rounded-3xl lg:py-8">
        <h3 class="mt-5 text-lg text-black font-display">Greedy</h3>
        <p class="mt-2 text-sm text-slate-500">
          Amazing for those attached to money with glue
        </p>
        <p class="order-first text-5xl font-light tracking-tight text-black font-display">
          $0
        </p>
        <ul role="list" class="flex flex-col order-last mt-10 text-sm text-slate-600 gap-y-3">
          <li class="flex items-center">
            <ion-icon class="w-4 h-4 md hydrated" name="checkmark-outline" role="img" aria-label="checkmark outline" />
            <span class="ml-4">Connect 1 websites</span>
          </li>
          <li class="flex items-center">
            <ion-icon class="w-4 h-4 md hydrated" name="checkmark-outline" role="img" aria-label="checkmark outline" />
            <span class="ml-4"> 1 bank accounts</span>
          </li>
          <li class="flex items-center">
            <ion-icon class="w-4 h-4 md hydrated" name="checkmark-outline" role="img" aria-label="checkmark outline" />
            <span class="ml-4">Track up to 1 credit cards</span>
          </li>
          <li class="flex items-center">
            <ion-icon class="w-4 h-4 md hydrated" name="checkmark-outline" role="img" aria-label="checkmark outline" />
            <span class="ml-4">Analytics support</span>
          </li>
        </ul>
        <a class="inline-flex button-59 items-center justify-center w-full px-6 py-3 mt-8 text-center text-black transition duration-200 ease-in-out transform border-2 border-black hover:bg-transparent hover:border-black/50 rounded-xl focus:outline-none"
          aria-label="Wannabe tier" href="/register">Get started</a>
      </section>
      */}
      <section class="flex border border-black border-4 order-first flex-col px-6 py-6 lg:py-8">
        <h3 class="mt-5 order-1 text-5xl text-black font-bold font-display">Agency OS prima di Natale</h3>
        <p class="order-2 text-4xl font-light tracking-tight text-black font-display">
          € 399,99
        </p>
        <p class="mt-2 order-4 text-base text-slate-500">
          Cosa ci sarà dentro?
        </p>
      <ul role="list" class="flex flex-col order-last mt-10 text-sm text-black gap-y-3">
          <li class="flex items-center">
            <ion-icon class="w-4 h-4 md hydrated" name="checkmark-sharp" role="img" aria-label="checkmark outline" />
            <span class="ml-4">Sistema di gestione aziendale in versione beta: CRM, task e project manager, WIKI, gestione del team.</span>
          </li>
          <li class="flex items-center">
            <ion-icon class="w-4 h-4 md hydrated" name="checkmark-sharp" role="img" aria-label="checkmark outline" />
            <span class="ml-4">Tutorial e documentazione sull’utilizzo.</span>
          </li>
          <li class="flex items-center">
            <ion-icon class="w-4 h-4 md hydrated" name="checkmark-sharp" role="img" aria-label="checkmark outline" />
            <span class="ml-4">Accesso a tutte le future implementazioni, non gratuitamente.</span>
          </li>
          <li class="flex items-center">
            <ion-icon class="w-4 h-4 md hydrated" name="checkmark-sharp" role="img" aria-label="checkmark outline" />
            <span class="ml-4">Sconto del 15% su un piano a scelta di consulenza personalizzata Notion Builders.</span>
          </li>
          <li class="flex items-center">
            <ion-icon class="w-4 h-4 md hydrated" name="checkmark-sharp" role="img" aria-label="checkmark outline" />
            <span class="ml-4">Accesso gratuito a tutte le future implementazioni.</span>
          </li>
          <li class="flex items-center">
            <ion-icon class="w-4 h-4 md hydrated" name="checkmark-sharp" role="img" aria-label="checkmark outline" />
            <span class="ml-4">Un’ora di coaching 1-1 personalizzato con i Notion Builders.</span>
          </li>
          <li class="flex items-center">
            <ion-icon class="w-4 h-4 md hydrated" name="checkmark-sharp" role="img" aria-label="checkmark outline" />
            <span class="ml-4">Possibilità di dare feedback che verranno implementati in successivi update gratuiti.</span>
          </li>
        </ul>
        <a class="inline-flex order-last btn cube cube-hover items-center justify-center w-full px-6 py-3 mt-8 text-center text-white transition duration-200 ease-in-out transform border-2 border-black hover:bg-transparent hover:border-black/50 rounded-xl focus:outline-none"
          aria-label="Wannabe tier" href="https://zcal.co/notionbuilders/cust-notion-builders">
          <div class="bg-top">
            <div class="bg-inner"></div>
          </div>
          <div class="bg-right">
            <div class="bg-inner"></div>
          </div>
          <div class="bg">
            <div class="bg-inner"></div>
          </div>
          <div class="text">Acquista ora!</div>
        </a>
      </section>
      <section class="flex border border-black order-first py-6 flex-col px-6 lg:py-8">
        <h3 class="mt-5 order-1 text-5xl text-black font-bold font-display">Agency OS dopo il 25.12.2023</h3>
        <p class="order-2 text-4xl font-light tracking-tight text-black font-display">
          ???
        </p>
        <p class="mt-2 order-4 text-base text-slate-500">
          Cosa ci sarà dentro?
        </p>
      <ul role="list" class="flex flex-col order-last mt-10 text-sm text-black gap-y-3">
          <li class="flex items-center">
            <ion-icon class="w-4 h-4 md hydrated" name="checkmark-sharp" role="img" aria-label="checkmark outline" />
            <span class="ml-4">Sistema di gestione aziendale in versione beta: CRM, task e project manager, WIKI, gestione del team.</span>
          </li>
          <li class="flex items-center">
            <ion-icon class="w-4 h-4 md hydrated" name="checkmark-sharp" role="img" aria-label="checkmark outline" />
            <span class="ml-4">Tutorial e documentazione sull’utilizzo.</span>
          </li>
          <li class="flex items-center">
            <ion-icon class="w-4 h-4 md hydrated" name="checkmark-sharp" role="img" aria-label="checkmark outline" />
            <span class="ml-4">Accesso a tutte le future implementazioni, non gratuitamente.</span>
          </li>
          <li class="flex items-center">
            <ion-icon class="w-4 h-4 md hydrated" name="checkmark-sharp" role="img" aria-label="checkmark outline" />
            <span class="ml-4">Sconto del 15% su un piano a scelta di consulenza personalizzata Notion Builders.</span>
          </li>
          <li class="flex items-center">
            <ion-icon class="w-4 h-4 md hydrated" name="close-circle-sharp" role="img" aria-label="checkmark outline" />
            <span class="ml-4 line-through">Accesso gratuito a tutte le future implementazioni.</span>
          </li>
          <li class="flex items-center">
            <ion-icon class="w-4 h-4 md hydrated" name="close-circle-sharp" role="img" aria-label="checkmark outline" />
            <span class="ml-4 line-through">Un’ora di coaching 1-1 personalizzato con i Notion Builders.</span>
          </li>
          <li class="flex items-center">
            <ion-icon class="w-4 h-4 md hydrated" name="close-circle-sharp" role="img" aria-label="checkmark outline" />
            <span class="ml-4 line-through">Possibilità di dare feedback che verranno implementati in successivi update gratuiti.</span>
          </li>
        </ul>
      </section>
      
    </div>
    <div class="mx-auto pt-12 lg:py-16">
      <p class="text-xl text-center">* da considerare IVA a 0</p>
    </div>
  </div>
</section>