<section>
  <div class="mx-auto bg-black w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12 my-24">
    <div class="mx-auto max-w-3xl lg:text-center">
      <div>
        <p class="text-white font-extrabold lg:text-5xl text-4xl tracking-tighter">
          Perché acquistare ADESSO Agency OS? <span class="lg:block">
          </span>
        </p>
        <p class="mt-4 text-lg max-w-xl tracking-tight text-white mx-auto">
          Agency OS è in versione di lancio fino a Natale 2023, acquistandolo ora potrai avere accesso a:
        </p>
      </div>
    </div>
    <div class="mx-auto pt-12">
      <div class="mx-auto w-full gap-12 grid grid-cols-1 lg:gap-24 lg:grid-cols-2">
        <div>
          <div class="gap-3 lg:inline-flex lg:items-center">
            <div class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10">
              <img alt="logo" class="hydrated md h-5 w-5" src="/one.webp" />
            </div>
            <p class="mt-4 text-lg font-semibold leading-6 text-white font-display lg:mt-0">
              Prezzo di lancio
            </p>
          </div>
          <p class="text-white text-sm mt-4">
            Ottenere Agency OS da early adopter e ad un prezzo molto minore rispetto a quello che sarà nel 2024.
          </p>
        </div>
        <div>
          <div class="gap-3 lg:inline-flex lg:items-center">
            <div class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10">
              <img alt="logo" class="hydrated md h-5 w-5" src="/two.webp" />
            </div>
            <p class="mt-4 text-lg font-semibold leading-6 text-white font-display lg:mt-0">
              Iniziare l'anno al meglio
            </p>
          </div>
          <p class="text-white text-sm mt-4">
            Arrivare al 2024 già pronto all’uso di Agency OS e iniziare l’anno con il botto, avendo tutta la gestione sotto controllo.
          </p>
        </div>
        <div>
          <div class="gap-3 lg:inline-flex lg:items-center">
            <div class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10">
              <img alt="logo" class="hydrated md h-5 w-5" src="/three.webp" />
            </div>
            <p class="mt-4 text-lg font-semibold leading-6 text-white font-display lg:mt-0">
              Aggiornamenti gratis
            </p>
          </div>
          <p class="text-white text-sm mt-4">
            Avere accesso gratuito a tutte le future implementazioni del sistema, qualche spoiler: nuovi moduli per avere una gestione sempre più a 360 gradi, analytics integrate, AI nei databases (oltre ai feedback che tu stesso ci darai).
          </p>
        </div>
        <div>
          <div class="gap-3 lg:inline-flex lg:items-center">
            <div class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10">
              <img alt="logo" class="hydrated md h-5 w-5" src="/four.webp" />
            </div>
            <p class="mt-4 text-lg font-semibold leading-6 text-white font-display lg:mt-0">
              Coaching
            </p>
          </div>
          <p class="text-white text-sm mt-4">
            Acquistando il Agency OS in versione beta, ti assicuri, oltre al sistema, un’ora di coaching 1-1 con i Notion Builders per una consulenza personalizzata.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>