<!-- Container for demo purpose -->
<div class="container my-24 mx-auto md:px-6">
  <!-- Section: Design Block -->
  <section class="mb-32">
    <div class="flex flex-wrap">
      <div class="mb-12 w-full shrink-0 grow-0 basis-auto lg:mb-0 lg:w-5/12">
        <div class="flex lg:py-12">
          <img src="/agency-os_caos.webp"
            class="z-[10] w-full lg:ml-[50px]" alt="image" />
        </div>
      </div>

      <div class="w-full shrink-0 grow-0 basis-auto lg:w-7/12">
        <div
          class="flex h-full items-center rounded-lg p-6 text-center text-black lg:pl-12 lg:text-left">
          <div class="lg:pl-12">
            <h2 class="mb-8 text-3xl font-bold">Evita il caos nella tua agenzia</h2>
            <p class="mb-8 pb-2 lg:pb-0">
              Ti senti mai impreparato a gestire un team da remoto o privo degli strumenti per farlo in modo efficace?
              Pensi mai che la tua agenzia abbia bisogno di più coerenza, direzione e <strong>struttura</strong>?
              Vorresti un modo più intelligente per <strong>collaborare</strong> sia internamente che esternamente su progetti con i clienti?
              Quante volte tu e i tuoi collaboratori vi <strong>perdete le informazioni importanti</strong> e siete stressati dal caos informativo?
            </p>
            <p class="mb-8 pb-2 lg:pb-0">
              Se ti identifichi in queste domande, allora <strong>Agency OS è quello che fa per te!</strong>
            </p>


            <p>
              Che tu non abbia mai sentito parlare di Notion o che già lo utilizzi nella tua vita personale o professionale, ti basta sapere che questo singolo strumento è la <strong>base di cui hai bisogno per salvarti dal caos del gestire un'agenzia.</strong>
              C'è solo un piccolo inconveniente.</p>
              <p>Hai il <strong>tempo e le competenze</strong> per diventare un sviluppatore "no-code" e creare un nuovo spazio di lavoro su Notion realmente funzionale ed efficiente?
              così tanto <strong>i processi della tua agenzia, o le best practices,</strong> per poterli digitalizzare su Notion?</p>
              <p>Hai la possibilità di <strong>investire per assumere un consulente Notion</strong> che possa svilupparne uno su misura per te?</p>
              <p> Se la risposta è "no", <strong>Agency OS è apposta per te.</strong></p>
              <p>Una soluzione Notion collaudata, creata da <strong>consulenti Notion specializzati in soluzioni no-code B2B per agenzie proprio come la tua.</strong></p>
              <p>Con Agency OS potrai beneficiare di un singolo sistema operativo per gestire tutti i processi della tua agenzia, pronto per l'uso e immediato.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->
</div>
<!-- Container for demo purpose -->