<section>
  <div class="animate-fadein mx-auto w-full lg:px-8 max-w-7xl md:px-12 items-center px-4 py-5">
    <div>
      <div class="text-center max-w-4xl mx-auto">
        {/* <div class="sm:hidden sm:flex sm:justify-center">
          <div
            class="relative rounded-full py-1 px-3 text-sm leading-6 text-gray-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
            <a href="https://lexingtonthemes.com/free-templates/" class="font-semibold text-indigo-600"><span
                class="absolute inset-0" aria-hidden="true"></span>
              <span class="block lg:inline">
                La prima Notion Agency in Italia <span aria-hidden="true">&rarr;</span>
              </span>
            </a>
          </div>
        </div> */}
        <p class="text-black mt-8 font-extrabold lg:text-5xl text-3xl tracking-tight">
          La tua azienda su Notion, in abbonamento
        </p>
        <p class="text-slate-500 lg:text-xl max-w-2xl mt-4 mx-auto text-base">
          Siamo la prima Notion Agency in Italia, creiamo il tuo sistema di gestione del business grazie a Notion e al no-code.
        </p>
      </div>
      <div class="flex justify-center gap-3 mt-10 flex-col sm:flex-row">
        <a class="items-center btn cube cube-hover justify-center font-medium inline-flex bg-black duration-200 hover:bg-transparent hover:text-whiste lg:w-auto px-6 py-3 text-center text-white w-full"
          href="#features">
          <div class="bg-top">
            <div class="bg-inner"></div>
          </div>
          <div class="bg-right">
            <div class="bg-inner"></div>
          </div>
          <div class="bg">
            <div class="bg-inner"></div>
          </div>
          <div class="text">Come ti possiamo aiutare</div>
        </a>
        {/* <a
          class="items-center justify-center font-bold focus-visible:outline-black focus:outline-none inline-flex duration-200 text-black lg:w-auto px-6 py-3 text-center text-black/80 w-full hover:underline"
          href="#pricing">
          <span></span>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </a>*/}
      </div>
      {/* <dl
        class="lg:gap-x-8 lg:grid-cols-3 max-w-4xl mt-8 mx-auto sm:gap-x-6 sm:gap-y-12 sm:grid sm:grid-cols-2 sm:space-y-0 space-y-6 text-center text-sm items-start">
        <div class="text-slate-500">
          <strong class="text-slate-700">Astro, Tailwind CSS and Alpine.js</strong> ━ This are the popular technologies
          behind Astrosaas.
        </div>
        <div class="text-slate-500">
          <strong class="text-slate-700">Includes 6 pages</strong> ━ You will find
          this landing, faq, terms,privacy,sign up and sign in pages.
        </div>
        <div class="text-slate-500">
          <strong class="text-slate-700">Different section</strong> ━ The starter
          includes different feature sections, a pricing table, testmionial, CTA
          and full forms. more.
        </div>
      </dl> */}
    </div>
    <div class="relative w-full mx-auto max-w-7xl items-center py-12 pb-12">
      <div class="p-8 rounded-3xl" style="">
        <img alt="" class="relative w-full object-cover" src="./hero.webp" />
      </div>
    </div>
    <div class="flex justify-center col-span-1 px-8">
      <h2 class="text-black font-extrabold lg:text-xl text-2xl tracking-tighter text-center">
        Alcune delle aziende che abbiamo aiutato
      </h2>
    </div>
    {/* Rimozione vecchia barra loghi
    <div class="grid grid-cols-2 gap-0.5 lg:mt-8 md:grid-cols-6 mt-6">
      <div class="flex justify-center col-span-1 px-8">
        <img alt="logo" class="max-h-12 " src="/Figma.svg" />
      </div>
      <div class="flex justify-center col-span-1 px-8">
        <img alt="logo" class="max-h-12 " src="/Canva.svg" />
      </div>
      <div class="flex justify-center col-span-1 px-8">
        <img alt="logo" class="max-h-12 " src="/Stripe.svg" />
      </div>
      <div class="flex justify-center col-span-1 px-8">
        <img alt="logo" class="max-h-12 " src="/Gitlab.svg" />
      </div>
      <div class="flex justify-center col-span-1 px-8">
        <img alt="logo" class="max-h-12 " src="/Linear.svg" />
      </div>
      <div class="flex justify-center col-span-1 px-8">
        <img alt="logo" class="max-h-12 " src="/Gumroad.svg" />
      </div>
    </div> */}
    <div class="flex flex-row px-2 overflow-hidden whitespace-no-wrap">
      <div class="inner relative gap-0.5 lg:mt-8 mt-6">
        <ul class="flex animate-marquee">
          <li class="m-4"><img alt="logo" class="" src="/making_in_italy.webp" /></li>
          <li class="m-4"><img alt="logo" class="marquee-img" src="/valland.webp" /></li>
          <li class="m-4"><img alt="logo" class="marquee-img" src="/becreatives.webp" /></li>
          <li class="m-4"><img alt="logo" class="marquee-img" src="/university-network.webp" /></li>
          <li class="m-4"><img alt="logo" class="marquee-img" src="/bonnie.webp" /></li>
          <li class="m-4"><img alt="logo" class="marquee-img" src="/loffredo.webp" /></li>
        </ul>
        <ul class="flex absolute top-0 left-2 animate-marquee2">
          <li class="m-4"><img alt="logo" class="marquee-img" src="/making_in_italy.webp" /></li>
          <li class="m-4"><img alt="logo" class="marquee-img" src="/valland.webp" /></li>
          <li class="m-4"><img alt="logo" class="marquee-img" src="/becreatives.webp" /></li>
          <li class="m-4"><img alt="logo" class="marquee-img" src="/university-network.webp" /></li>
          <li class="m-4"><img alt="logo" class="marquee-img" src="/bonnie.webp" /></li>
          <li class="m-4"><img alt="logo" class="marquee-img" src="/loffredo.webp" /></li>
        </ul>
      </div>
    </div>
    <div class="flex mt-4 justify-center col-span-1 px-8">
      <h2 class="text-black font-extrabold lg:text-xl text-2xl tracking-tighter text-center">
        Alcune delle aziende con cui abbiamo collaborato
      </h2>
    </div>
    <div class="flex flex-row px-2 overflow-hidden whitespace-no-wrap">
      <div class="inner relative gap-0.5 lg:mt-8 mt-6">
        <ul class="flex animate-marquee3">
          <li class="m-4"><img alt="logo" class="marquee-img" src="/lventure.webp" /></li>
          <li class="m-4"><img alt="logo" class="marquee-img" src="/fifth-beat.webp" /></li>
          <li class="m-4"><img alt="logo" class="marquee-img" src="/automatiking.webp" /></li>
          <li class="m-4"><img alt="logo" class="marquee-img" src="/abila.webp" /></li>
          <li class="m-4"><img alt="logo" class="marquee-img" src="/summus-performing.webp" /></li>
          <li class="m-4"><img alt="logo" class="marquee-img" src="/soraia.webp" /></li>
          <li class="m-4"><img alt="logo" class="marquee-img" src="/ncode.webp" /></li>
          <li class="m-4"><img alt="logo" class="marquee-img" src="/hifounders.webp" /></li>
        </ul>
        <ul class="flex absolute top-0 left-2 animate-marquee4">
          <li class="m-4"><img alt="logo" class="marquee-img" src="/lventure.webp" /></li>
          <li class="m-4"><img alt="logo" class="marquee-img" src="/fifth-beat.webp" /></li>
          <li class="m-4"><img alt="logo" class="marquee-img" src="/automatiking.webp" /></li>
          <li class="m-4"><img alt="logo" class="marquee-img" src="/abila.webp" /></li>
          <li class="m-4"><img alt="logo" class="marquee-img" src="/summus-performing.webp" /></li>
          <li class="m-4"><img alt="logo" class="marquee-img" src="/soraia.webp" /></li>
          <li class="m-4"><img alt="logo" class="marquee-img" src="/ncode.webp" /></li>
          <li class="m-4"><img alt="logo" class="marquee-img" src="/hifounders.webp" /></li>
        </ul>
      </div>
    </div>
    <div class="flex flex-col mt-4 px-2 overflow-hidden whitespace-no-wrap justify-center">
      <h3 class="text-black font-extrabold lg:text-xl text-2xl tracking-tighter text-center">E c'è anche Notion!</h3>
      <div class="m-4">
        <img alt="logo" class="marquee-img" src="/notion.webp" />
      </div>
    </div>
    {/* <div class="flex justify-center px-8">
      <img alt="logo" class="" src="/making_in_italy.webp" />
    </div>
    <div class="flex justify-center px-8">
      <img alt="logo" class="" src="/valland.webp" />
    </div>
    <div class="flex justify-center px-8">
      <img alt="logo" class="" src="/becreatives.webp" />
    </div>
    <div class="flex justify-center px-8">
      <img alt="logo" class="" src="/bonnie.webp" />
    </div>
    <div class="flex justify-center px-8">
      <img alt="logo" class="" src="/loffredo.webp" />
    </div> */}
  </div>
</section>

<style>
  @media only screen and (max-width: 600px) {
    .marquee-img {
      height: 100%;
      width: 170px;
      max-width: none;
    }
  }
</style>

{/* OLD MARQUEE


<style>
  .img-marquee {
    -moz-animation: marquee 14s ease-in-out infinite;
    -webkit-animation: marquee 7s ease-in-out infinite;
    animation: marquee 7s ease-in-out infinite;
  }

  @-moz-keyframes marquee {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
    }
  }

  @-webkit-keyframes marquee {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
    }
  }

  @keyframes marquee {
    0% {
      -moz-transform: translateX(0);
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }

    100% {
      -moz-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }


  .marquee {
    width: 100%;
  }

  .marquee .inner img {
    height: 100%;
    width: 170px;
    max-width: none;
  }


  @media only screen and (max-width: 600px) {
    .marquee .inner img {
      height: 100%;
      width: 170px;
      max-width: none;
    }

    .img-marquee {
      -moz-animation: marquee 7s linear infinite;
      -webkit-animation: marquee 7s linear infinite;
      animation: marquee 7s linear infinite;
    }

    @-moz-keyframes marquee {
      0% {
        transform: translateX(20%);
      }

      100% {
        transform: translateX(-600%);
      }
    }

    @-webkit-keyframes marquee {
      0% {
        transform: translateX(20%);
      }

      100% {
        transform: translateX(-600%);
      }
    }

    @keyframes marquee {
      0% {
        -moz-transform: translateX(20%);
        -webkit-transform: translateX(20%);
        transform: translateX(20%)
      }

      100% {
        -moz-transform: translateX(-600%);
        -webkit-transform: translateX(-600%);
        transform: translateX(-600%);
      }

    }

  }


  .marquee .inner {
    display: flex;
    color: #000;
    font-size: 8rem;
  }

  .marquee .inner>* {
    white-space: nowrap;
  }
</style>
*/}