<section>
  <div class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-5">
    <div>
      <div class="text-center max-w-4xl mx-auto">
        {/* <div class="sm:hidden sm:flex sm:justify-center">
          <div
            class="relative rounded-full py-1 px-3 text-sm leading-6 text-gray-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
            <a href="https://lexingtonthemes.com/free-templates/" class="font-semibold text-indigo-600"><span
                class="absolute inset-0" aria-hidden="true"></span>
              <span class="block lg:inline">
                La prima Notion Agency in Italia <span aria-hidden="true">&rarr;</span>
              </span>
            </a>
          </div>
        </div> */}
        <p class="text-black mt-8 font-extrabold lg:text-5xl text-3xl tracking-tight">
          Il tuo team di no-code operations in abbonamento
        </p>
        <p class="text-slate-500 lg:text-xl max-w-2xl mt-4 mx-auto text-base">
          Siamo la prima Notion Agency in Italia, creiamo il tuo sistema di gestione del business efficiente e
          funzionale grazie a Notion e al no-code.
        </p>
      </div>
      <div class="flex justify-center gap-3 mt-8 flex-col sm:flex-row">
        <a class="items-center justify-center font-bold rounded-xl focus-visible:outline-black focus:outline-none inline-flex duration-200 text-black lg:w-auto px-6 py-3 text-center text-black/80 w-full underline"
          href="https://github.com/michael-andreuzza/astrosaas">Scopri i piani!</a>
        <a class="items-center btn cube cube-hover justify-center font-medium inline-flex bg-black duration-200 hover:bg-transparent hover:text-white lg:w-auto px-6 py-3 text-center text-black w-full"
          href="https://lexingtonthemes.com">
          <div class="bg-top">
            <div class="bg-inner"></div>
          </div>
          <div class="bg-right">
            <div class="bg-inner"></div>
          </div>
          <div class="bg">
            <div class="bg-inner"></div>
          </div>
          <div class="text">Facciamo una call!</div>
        </a>
      </div>
      {/* <dl
        class="lg:gap-x-8 lg:grid-cols-3 max-w-4xl mt-8 mx-auto sm:gap-x-6 sm:gap-y-12 sm:grid sm:grid-cols-2 sm:space-y-0 space-y-6 text-center text-sm items-start">
        <div class="text-slate-500">
          <strong class="text-slate-700">Astro, Tailwind CSS and Alpine.js</strong> ━ This are the popular technologies
          behind Astrosaas.
        </div>
        <div class="text-slate-500">
          <strong class="text-slate-700">Includes 6 pages</strong> ━ You will find
          this landing, faq, terms,privacy,sign up and sign in pages.
        </div>
        <div class="text-slate-500">
          <strong class="text-slate-700">Different section</strong> ━ The starter
          includes different feature sections, a pricing table, testmionial, CTA
          and full forms. more.
        </div>
      </dl> */}
    </div>
    <div class="relative w-full mx-auto max-w-7xl items-center py-12 pb-12">
      <div class="p-8 rounded-3xl" style="">
        <img alt="" class="relative w-full object-cover" src="public/hero.webp" width="300" />
      </div>
    </div>
    <div class="flex justify-center col-span-1 px-8">
      <h2 class="text-black font-extrabold lg:text-xl text-2xl tracking-tighter">
        Alcune delle aziende che abbiamo aiutato
      </h2>
    </div>
    <div class="grid grid-cols-2 gap-0.5 lg:mt-8 md:grid-cols-6 mt-6">
      <div class="flex justify-center col-span-1 px-8">
        <img alt="logo" class="max-h-12 " src="/Figma.svg" />
      </div>
      <div class="flex justify-center col-span-1 px-8">
        <img alt="logo" class="max-h-12 " src="/Canva.svg" />
      </div>
      <div class="flex justify-center col-span-1 px-8">
        <img alt="logo" class="max-h-12 " src="/Stripe.svg" />
      </div>
      <div class="flex justify-center col-span-1 px-8">
        <img alt="logo" class="max-h-12 " src="/Gitlab.svg" />
      </div>
      <div class="flex justify-center col-span-1 px-8">
        <img alt="logo" class="max-h-12 " src="/Linear.svg" />
      </div>
      <div class="flex justify-center col-span-1 px-8">
        <img alt="logo" class="max-h-12 " src="/Gumroad.svg" />
      </div>
    </div>
  </div>
</section>