<section aria-labelledby="pricing-section" id="pricing">
  <div class="lg:px-16 max-w-7xl md:px-12 mx-auto px-8 py-24 scroll-mt-12">
    <div class="text-center">
      <h2 class="text-black font-extrabold lg:text-5xl text-4xl tracking-tighter">
        Scegli il piano che preferisci
        <span class="lg:block"></span>
      </h2>
      <p class="mt-4 text-lg max-w-xl tracking-tight text-black mx-auto">Il tuo tempo (così come il nostro) è importante
        e
        non vogliamo sprecarlo!
        Per questo, non operiamo come un'agenzia normale ma in abbonamento!</p>
    </div>
  </div>
  <div class="items-center px-8 lg:pt-12 pb-24 mx-auto max-w-7xl lg:px-16">
    <div
      class="grid max-w-2xl grid-cols-1 py-4 -mx-4 sm:grid-cols-2 gap-y-10 sm:mx-auto lg:max-w-none lg:grid-cols-3 xl:gap-x-3 lg:bg-white lg:border border border-black">
      {/*
      <section class="flex flex-col px-6 rounded-3xl lg:py-8">
        <h3 class="mt-5 text-lg text-black font-display">Greedy</h3>
        <p class="mt-2 text-sm text-slate-500">
          Amazing for those attached to money with glue
        </p>
        <p class="order-first text-5xl font-light tracking-tight text-black font-display">
          $0
        </p>
        <ul role="list" class="flex flex-col order-last mt-10 text-sm text-slate-600 gap-y-3">
          <li class="flex items-center">
            <ion-icon class="w-4 h-4 md hydrated" name="checkmark-outline" role="img" aria-label="checkmark outline" />
            <span class="ml-4">Connect 1 websites</span>
          </li>
          <li class="flex items-center">
            <ion-icon class="w-4 h-4 md hydrated" name="checkmark-outline" role="img" aria-label="checkmark outline" />
            <span class="ml-4"> 1 bank accounts</span>
          </li>
          <li class="flex items-center">
            <ion-icon class="w-4 h-4 md hydrated" name="checkmark-outline" role="img" aria-label="checkmark outline" />
            <span class="ml-4">Track up to 1 credit cards</span>
          </li>
          <li class="flex items-center">
            <ion-icon class="w-4 h-4 md hydrated" name="checkmark-outline" role="img" aria-label="checkmark outline" />
            <span class="ml-4">Analytics support</span>
          </li>
        </ul>
        <a class="inline-flex button-59 items-center justify-center w-full px-6 py-3 mt-8 text-center text-black transition duration-200 ease-in-out transform border-2 border-black hover:bg-transparent hover:border-black/50 rounded-xl focus:outline-none"
          aria-label="Wannabe tier" href="/register">Get started</a>
      </section>
      */}
      <section class="flex order-first flex-col px-6 lg:py-8">
        <h3 class="mt-5 order-1 text-5xl text-black font-bold font-display">Starter</h3>
        <p class="mt-5 order-3 text-base text-black font-bold font-display">Rinnovo Mensile</p>
        <p class="mt-2 order-4 text-base text-slate-500">
          Hai sentito parlare di Notion, ma non sai da dove iniziare.
        </p>
        <p class="order-2 text-4xl font-light tracking-tight text-black font-display">
          € 1200/m
        </p>
        <ul role="list" class="flex flex-col order-last mt-10 text-sm text-slate-600 gap-y-3">
          <li class="flex items-center">
            <ion-icon class="w-4 h-4 md hydrated" name="checkmark-outline" role="img" aria-label="checkmark outline" />
            <span class="ml-4">Richieste infinite di costruzione su Notion</span>
          </li>
          <li class="flex items-center">
            <ion-icon class="w-4 h-4 md hydrated" name="checkmark-outline" role="img" aria-label="checkmark outline" />
            <span class="ml-4"> Flowchart del sistema costruito su Notion</span>
          </li>
          <li class="flex items-center">
            <ion-icon class="w-4 h-4 md hydrated" name="checkmark-outline" role="img" aria-label="checkmark outline" />
            <span class="ml-4">Mappa processi di quanto costruito su Notion</span>
          </li>
          <li class="flex items-center">
            <ion-icon class="w-4 h-4 md hydrated" name="checkmark-outline" role="img" aria-label="checkmark outline" />
            <span class="ml-4">Formazione Notion Builders</span>
          </li>
        </ul>
        <a class="inline-flex order-5 btn cube cube-hover items-center justify-center w-full px-6 py-3 mt-8 text-center text-white transition duration-200 ease-in-out transform border-2 border-black hover:bg-transparent hover:border-black/50 rounded-xl focus:outline-none"
          aria-label="Wannabe tier" href="/register">
          <div class="bg-top">
            <div class="bg-inner"></div>
          </div>
          <div class="bg-right">
            <div class="bg-inner"></div>
          </div>
          <div class="bg">
            <div class="bg-inner"></div>
          </div>
          <div class="text">Facciamo una call!</div>
        </a>
      </section>
      <section
        class="flex relative border-4 border-black flex-col order-first px-6 py-8 sm:px-8 bg-white lg:-mt-24 lg:order-none">
        <div class="flex flex-col justify-between w-full">
          <h3 class="mt-5 text-5xl text-black font-bold font-display">Standard</h3>
          <p class="text-4xl font-light tracking-tight text-black font-display">
            € 1066/m
          </p>
          <div class="flex flex-row justify-between">
            <p class="mt-5 text-base text-black font-bold font-display">Rinnovo Trimestrale</p>
            <p class="mt-5 text-base text-black font-bold font-display">€ 3200</p>
          </div>
          <p class="mt-2 text-sm text-black">
            Sai che Notion ti può aiutare, ma meglio affidarsi agli esperti.
          </p>

        </div>
        <div class="most-popular heartbeat drop-shadow-2xl">
          <div>Il più scelto</div>
        </div>
        <ul role="list" class="flex flex-col order-last mt-10 text-sm text-black gap-y-3">
          <li class="flex items-center">
            <ion-icon class="w-4 h-4 md hydrated" name="checkmark-outline" role="img" aria-label="checkmark outline" />
            <span class="ml-4">Richieste infinite di costruzione su Notion</span>
          </li>
          <li class="flex items-center">
            <ion-icon class="w-4 h-4 md hydrated" name="checkmark-outline" role="img" aria-label="checkmark outline" />
            <span class="ml-4"> Analisi 1 processo</span>
          </li>
          <li class="flex items-center">
            <ion-icon class="w-4 h-4 md hydrated" name="checkmark-outline" role="img" aria-label="checkmark outline" />
            <span class="ml-4">Automazione 1 processo</span>
          </li>
          <li class="flex items-center">
            <ion-icon class="w-4 h-4 md hydrated" name="checkmark-outline" role="img" aria-label="checkmark outline" />
            <span class="ml-4">Best practices di automazioni e processi</span>
          </li>
          <li class="flex items-center">
            <ion-icon class="w-4 h-4 md hydrated" name="checkmark-outline" role="img" aria-label="checkmark outline" />
            <span class="ml-4">Formazione Notion Builders</span>
          </li>
          <li class="flex items-center">
            <ion-icon class="w-4 h-4 md hydrated" name="checkmark-outline" role="img" aria-label="checkmark outline" />
            <span class="ml-4">1 office hour/m</span>
          </li>
          <li class="flex items-center">
            <ion-icon class="w-4 h-4 md hydrated" name="checkmark-outline" role="img" aria-label="checkmark outline" />
            <a href="#garanzia1" class="ml-4 underline hover:cursor-help">Garanzia "Non abbiamo segreti"</a>
          </li>
          <li class="flex items-center">
            <ion-icon class="w-4 h-4 md hydrated" name="checkmark-outline" role="img" aria-label="checkmark outline" />
            <a href="#garanzia2" class="ml-4 underline hover:cursor-help">Garanzia "Soddisfatti o..."</a>
          </li>
        </ul>
        <a class="inline-flex btn cube cube-hover items-center justify-center w-full px-6 py-3 mt-8 text-center text-white transition duration-200 ease-in-out transform bg-white border-2 border-white hover:bg-transparent hover:border-white rounded-xl hover:text-white focus:outline-none"
          aria-label="Indie hacker tier" href="/register">
          <div class="bg-top">
            <div class="bg-inner"></div>
          </div>
          <div class="bg-right">
            <div class="bg-inner"></div>
          </div>
          <div class="bg">
            <div class="bg-inner"></div>
          </div>
          <div class="text">Facciamo una call!</div>
        </a>
      </section>
      <section class="flex order-last flex-col px-6 rounded-3xl lg:py-8">
        <div class="flex flex-col justify-between w-full">
          <h3 class="mt-5 text-5xl text-black font-bold font-display">Pro</h3>
          <p class="text-4xl font-light tracking-tight text-black font-display">
            € 1033/m
          </p>
          <div class="flex flex-row justify-between">
            <p class="mt-5 text-base text-black font-bold font-display">Rinnovo Semestrale</p>
            <p class="mt-5 text-base text-black font-bold font-display">€ 6200</p>
          </div>
          <p class="mt-2 text-sm text-slate-500">
            Adori Notion e vuoi utilizzarlo al meglio.
          </p>
        </div>

        <ul role="list" class="flex flex-col order-last mt-10 text-sm text-slate-600 gap-y-3">
          <li class="flex items-center">
            <ion-icon class="w-4 h-4 md hydrated" name="checkmark-outline" role="img" aria-label="checkmark outline" />
            <span class="ml-4">Richieste infinite di costruzione su Notion</span>
          </li>
          <li class="flex items-center">
            <ion-icon class="w-4 h-4 md hydrated" name="checkmark-outline" role="img" aria-label="checkmark outline" />
            <span class="ml-4">Analisi processi illimitati</span>
          </li>
          <li class="flex items-center">
            <ion-icon class="w-4 h-4 md hydrated" name="checkmark-outline" role="img" aria-label="checkmark outline" />
            <span class="ml-4">Automazioni illimitate</span>
          </li>
          <li class="flex items-center">
            <ion-icon class="w-4 h-4 md hydrated" name="checkmark-outline" role="img" aria-label="checkmark outline" />
            <span class="ml-4">Formazione Notion Builders</span>
          </li>
          <li class="flex items-center">
            <ion-icon class="w-4 h-4 md hydrated" name="checkmark-outline" role="img" aria-label="checkmark outline" />
            <span class="ml-4">1 workshop in presenza</span>
          </li>
          <li class="flex items-center">
            <ion-icon class="w-4 h-4 md hydrated" name="checkmark-outline" role="img" aria-label="checkmark outline" />
            <span class="ml-4">2 office hours/m</span>
          </li>
          <li class="flex items-center">
            <ion-icon class="w-4 h-4 md hydrated" name="checkmark-outline" role="img" aria-label="checkmark outline" />
            <span class="ml-4">Garanzia "Non abbiamo segreti"</span>
          </li>
          <li class="flex items-center">
            <ion-icon class="w-4 h-4 md hydrated" name="checkmark-outline" role="img" aria-label="checkmark outline" />
            <span class="ml-4">Garanzia "Soddisfatti o..."</span>
          </li>
        </ul>
        <a class="inline-flex btn cube cube-hover items-center justify-center w-full px-6 py-3 mt-8 text-center text-white transition duration-200 ease-in-out transform border-2 border-black hover:bg-transparent hover:border-black/50 rounded-xl focus:outline-none"
          aria-label="Big fish tier" href="/register">
          <div class="bg-top">
            <div class="bg-inner"></div>
          </div>
          <div class="bg-right">
            <div class="bg-inner"></div>
          </div>
          <div class="bg">
            <div class="bg-inner"></div>
          </div>
          <div class="text">Facciamo una call!</div>
        </a>
      </section>
    </div>
    <div class="mx-auto pt-12 lg:py-16">
      <p class="text-xl text-center">*Tutti i prezzi sono da considerarsi già IVATI</p>
    </div>
  </div>
</section>