<section>
    <div class="h-screen flex flex-col justify-center">
        <div class="mx-auto w-min text-center">
            <h2
                class="text-black max-w-none animate-typing overflow-hidden whitespace-nowrap font-extrabold lg:text-5xl text-4xl tracking-tighter mx-auto">
                E sai una cosa?
            </h2>
        </div>
        <div class="mx-auto h-18 text-center">
            <p
                class="mt-4 w-auto h-16 border-black border-r-2 mx-auto tracking-tight text-slate-500  overflow-hidden animate-typing2 tracking-tighter mx-auto">
                La prima agenzia Notion in Italia, non è
                un'agenzia!</p>
        </div>
        <img class="gif-style" src="/what.webp" alt="">
    </div>
</section>

<style>
    .gif-style {
        bottom: 0;
        width: 100%;
        position: absolute;
    }
</style>