<section>
    <div class="h-screen flex flex-col justify-center">
        <div class="mx-auto w-min text-center">
            <h2
                class="text-black max-w-none animate-typing overflow-hidden whitespace-nowrap font-extrabold lg:text-5xl text-4xl tracking-tighter mx-auto">
                E sai una cosa?
            </h2>
        </div>
        <div class="mx-auto w-fit text-center">
            <p
                class="mt-4 border-black border-r-2 mx-auto tracking-tight text-slate-500 animate-typingentrance animate-typing2 overflow-hidden whitespace-nowrap tracking-tighter mx-auto">
                La prima agenzia Notion in Italia, non è
                un'agenzia!</p>
        </div>
    </div>
</section>