<script>
    document.documentElement.classList.add('preparation');
</script>
<section>
    <div class="h-screen reveal relative flex flex-col justify-center">
        <div class="mx-auto w-min text-center">
            <h2
                class="text-black max-w-none animate-typing overflow-hidden whitespace-nowrap font-extrabold lg:text-5xl text-4xl tracking-tighter mx-auto">
                E sai una cosa?
            </h2>
        </div>
        <div class="mx-auto text-center">
            <p
                class="mt-4 w-auto h-12 md:h-6 h-16 border-black border-r-2 mx-auto tracking-tight text-slate-500  overflow-hidden animate-typing2 tracking-tighter mx-auto">
                La prima agenzia Notion in Italia, non è
                un'agenzia!</p>
        </div>
        <div class=" gif-style animate-gifentrance drop-shadow-2xl">
            <img src="/what.webp" alt="">
        </div>
    </div>
</section>

<style>
    .gif-style {
        width: auto;
        display: flex;
        position: absolute;
        right: 5%;
        top: 60%;
        rotate: 10deg;
    }

    @media only screen and (max-width: 600px) {
        .gif-style {
            right: -10%;
            top: 65%;
        }
    }

    .preparation article {
        opacity: 0;
    }

    article {
        opacity: 1;
        transition: opacity 300ms ease-in;
    }
</style>

<script>
    window.onload = function () {
        document.documentElement.classList.remove('preparation');
    };
</script>