<section id="features">
  <div class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12">
    <div class="mx-auto max-w-2xl text-center">
      <div>
        <p class="text-black font-extrabold lg:text-5xl text-4xl tracking-tighter">
          Cosa otterrai con<span class="lg:block">l'offerta Notion Builders?
          </span>
        </p>
        <p class="mt-4 text-lg max-w-xl mx-auto tracking-tight text-slate-500">
          Hai cliccato sul pulsante principale del sito e sei qui, non sui prezzi: non è un'errore.
          Prima ancora di arrivare al prezzo, vogliamo farti capire che problemi possiamo risolvere per te, mi sembra il
          minimo no?
        </p>
      </div>
    </div>
    <div>
      <div class="mx-auto max-w-7xl pt-12">
        <h2 class="sr-only">Features.</h2>
        <div>
          <div class="grid gap-12 grid-cols-1 lg:space-y-0 lg:text-center md:grid-cols-2">
            <div>
              <div>
                <div
                  class="items-center text-center m-auto justify-center text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10 lg:mx-auto">
                  <iframe class="place-content-center block"
                    src="https://lottie.host/?file=d25d935b-dcd0-4616-bc13-8be54d24b6e2/JHKpf1onV2.json"></iframe>
                </div>
                <p class="mt-16 text-lg text-center font-semibold leading-6 text-black font-display tracking-tight">
                  Processi
                </p>
              </div>
              <div class="mt-4 text-center text-slate-500 text-sm">
                Per comprendere come funziona il tuo business: analizziamo il flusso di informazioni riguardo la tua
                attività, delineiamo i processi e li miglioriamo.
              </div>
            </div>
            <div>
              <div>
                <div
                  class="items-center justify-center m-auto text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10 lg:mx-auto">
                  <iframe src="https://lottie.host/?file=a7a7c307-9057-44b4-8545-681101327dfa/nsYOI7lrkh.json"></iframe>
                </div>
                <p class="mt-16 text-lg text-center font-semibold leading-6 text-black font-display tracking-tight">
                  Automazioni
                </p>
              </div>
              <div class="mt-4 text-slate-500 text-center text-sm">
                Per non sprecare tempo: efficientiamo i processi collegando tra loro gli strumenti digitali e rendiamo
                automatiche le task ripetitive
              </div>
            </div>
            <div>
              <div>
                <div
                  class="items-center justify-center m-auto text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10 lg:mx-auto">
                  <iframe src="https://lottie.host/?file=2df3bfd9-5396-48cf-a99f-4357b00223ac/MYtMEsyI3V.json"></iframe>
                </div>
                <p class="mt-16 text-lg text-center font-semibold leading-6 text-black font-display tracking-tight">
                  Notion Building
                </p>
              </div>
              <div class="mt-4 text-slate-500 text-center text-sm">
                Per centralizzare: costruiamo il tuo sistema personalizzato su Notion. Hai bisogno di un CRM? un task e
                project manager? una knowledge base? Tutto è possibile con Notion.
              </div>
            </div>
            <div>
              <div>
                <div
                  class="items-center justify-center m-auto text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10 lg:mx-auto">
                  <iframe src="https://lottie.host/?file=fd41f63e-8afa-480b-9758-00fcb7f11623/hzSHWwzkix.json"></iframe>
                </div>
                <p class="mt-16 text-lg text-center font-semibold leading-6 text-black font-display tracking-tight">
                  Formazione
                </p>
              </div>
              <div class="mt-4 text-slate-500 text-center text-sm">
                Per raggiungere l’autonomia: formiamo il tuo team tramite corsi, documentazione e tutorial, tutti
                saranno al passo con le ultime innovazioni.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>