<section>
    <div class="py-24 scroll-mt-12">
        <div class="mx-auto max-w-2xl text-center">
            <div>
                <p class="text-black font-extrabold lg:text-5xl text-4xl tracking-tighter">
                    Siamo pochi<span class="lg:block"> ma buoni!
                    </span>
                </p>
                <p class="mt-4 text-lg max-w-xl mx-auto tracking-tight text-slate-500">
                    Chi c'è dietro Notion Builders?
                </p>
            </div>
        </div>
        <div class="flex flex-row mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12
        justify-center">
            <a href="" class="group relative block h-64 sm:h-80 lg:h-96">
                <span class="absolute inset-0 border-2 border-dashed border-black"></span>

                <div
                    class="relative flex h-full transform items-end border-2 border-black bg-white transition-transform group-hover:-translate-x-2 group-hover:-translate-y-2">
                    <div class="p-4 !pt-0 transition-opacity group-hover:absolute group-hover:opacity-0 sm:p-6 lg:p-8">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 sm:h-12 sm:w-12" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M3.055 11H5a2 2 0 012 2v1a2 2 0 002 2 2 2 0 012 2v2.945M8 3.935V5.5A2.5 2.5 0 0010.5 8h.5a2 2 0 012 2 2 2 0 104 0 2 2 0 012-2h1.064M15 20.488V18a2 2 0 012-2h3.064M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>

                        <h2 class="mt-4 text-xl font-medium sm:text-2xl">Beatrice Mula</h2>
                    </div>

                    <div
                        class="absolute p-4 opacity-0 transition-opacity group-hover:relative group-hover:opacity-100 sm:p-6 lg:p-8">
                        <h3 class="mt-4 text-xl font-medium sm:text-2xl">The orange Notioner</h3>

                        <p class="mt-4 text-sm sm:text-base">
                            Consulente Freelancer di produttività e organizzazione del lavoro, in passato ha lavorato in
                            ambito marketing e sales per diverse startup.
                            Notion pro-user, appassionata di business, management e no-code. Ha tenuto diversi corsi su
                            Notion, tra cui uno per la prima academy di NoCode in Italia, nonchè lezioni universitarie a
                            riguardo. LinkedIn creator nel tempo libero e laureata in psicologia.
                        </p>

                        <p class="mt-8 font-bold">Read more</p>
                    </div>
                </div>
            </a>
            <a href="" class="group relative block h-64 sm:h-80 lg:h-96">
                <span class="absolute inset-0 border-2 border-dashed border-black"></span>

                <div
                    class="relative flex h-full transform items-end border-2 border-black bg-white transition-transform group-hover:-translate-x-2 group-hover:-translate-y-2">
                    <div class="p-4 !pt-0 transition-opacity group-hover:absolute group-hover:opacity-0 sm:p-6 lg:p-8">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 sm:h-12 sm:w-12" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M3.055 11H5a2 2 0 012 2v1a2 2 0 002 2 2 2 0 012 2v2.945M8 3.935V5.5A2.5 2.5 0 0010.5 8h.5a2 2 0 012 2 2 2 0 104 0 2 2 0 012-2h1.064M15 20.488V18a2 2 0 012-2h3.064M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>

                        <h2 class="mt-4 text-xl font-medium sm:text-2xl">Daniele D'Amico</h2>
                    </div>

                    <div
                        class="absolute p-4 opacity-0 transition-opacity group-hover:relative group-hover:opacity-100 sm:p-6 lg:p-8">
                        <h3 class="mt-4 text-xl font-medium sm:text-2xl">The Notion Builders</h3>

                        <p class="mt-4 text-sm sm:text-base">
                            Full-stack creator con la passione per i tool digitali e no-code.
                            In passato è stato consulente freelancer di digital marketing e UX design, dopo aver
                            lavorato per due anni come product manager in startup e ha sul piatto molti progetti in side
                            hustle.
                            Quando non legge libri, crea contenuti sul web (in particolare su Linkedin).
                        </p>

                        <p class="mt-8 font-bold">Read more</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>