@tailwind base;
@tailwind components;
@tailwind utilities;
/* CSS */
:root { font-family: 'Space Mono', monospace; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Space Mono var', monospace; }
}



/* CSS */
.button-59 {
  --b: 6px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #000000;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-59:hover,
.button-59:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-59:active {
  background: var(--color);
  color: #fff;
}



/* Button Cubo */

.btn {
 display: block;
 padding: 0.7em 1em;
 background: transparent;
 outline: none;
 border: 0;
 color: #000000;
 letter-spacing: 0.1em;
 font-family: monospace;
 font-size: 17px;
 font-weight: bold;
 z-index: 1;
}

.cube {
 position: relative;
 transition: all 0.5s;
}

.cube .bg-top {
 position: absolute;
 height: 10px;
 background: #000;
 bottom: 100%;
 left: 5px;
 right: -5px;
 transform: skew(-45deg, 0);
 margin: 0;
 transition: all 0.4s;
}

.cube .bg-top .bg-inner {
 bottom: 0;
}

.cube .bg {
 position: absolute;
 left: 0;
 bottom: 0;
 top: 0;
 right: 0;
 background: #000;
 transition: all 0.4s;
}

.cube .bg-right {
 position: absolute;
 background: #000;
 top: -5px;
 z-index: 0;
 bottom: 5px;
 width: 10px;
 left: 100%;
 transform: skew(0, -45deg);
 transition: all 0.4s;
}

.cube .bg-right .bg-inner {
 left: 0;
}

.cube .bg-inner {
 background: #fff;
 position: absolute;
 left: 2px;
 right: 2px;
 top: 2px;
 bottom: 2px;
}

.cube .text {
 position: relative;
 transition: all 0.4s;
}

.cube:hover .bg-inner {
 background: #000;
 transition: all 0.4s;
}

.cube:hover .text {
 color: #fff;
 transition: all 0.4s;
}

.cube:hover .bg-right,
.cube:hover .bg,
.cube:hover .bg-top {
 background: #fff;
}

.cube:active {
 z-index: 9999;
 animation: bounce .1s linear;
}

@keyframes bounce {
 50% {
  transform: scale(0.9);
 }
}