<section>
  <div class="flex relative justify-center lg:px-0 max-h-full md:px-12 overflow-hidden">
    <div
      class="bg-white px-4 relative flex flex-1 flex-col h-screen lg:py-24 md:flex-none md:px-28 py-10 sm:justify-center xl:py-36 z-10">
      <div class="w-full lg:h-full max-w-md md:max-w-sm md:px-0 md:w-96 mx-auto sm:px-4">
        <div class="flex flex-col">
          <div>
            <h2 class="font-medium leading-tight text-black text-xl font-display">
              Entra nella community di Notion Builders!
            </h2>
          </div>
        </div>
        <form action="https://hook.eu1.make.com/9pvswjy9px3rsrxpjul0u9pyfhu9oes5">
          <input name="hidden" autocomplete="false" style="display:none" />
          <input name="_redirect" type="hidden" value="#" />
          <div class="space-y-6">
            <div class="col-span-full">
              <label class="sr-only" name="email">Email</label>
              <input id="email" name="Email"
                class="w-full focus:outline-none border py-3 appearance-none bg-slate-50 block border-slate-200 focus:bg-white focus:border-accent-500 focus:ring-accent-500 placeholder-slate-400 px-3 rounded-xl sm:text-sm text-accent-500"
                placeholder="Qual è il tuo indirizzo email?" type="Email" />
            </div>
            <div class="col-span-full">
              <button
                class="items-center justify-center rounded-xl focus-visible:outline-black focus:outline-none inline-flex bg-black border-2 border-black duration-200 focus-visible:ring-black hover:bg-transparent hover:border-black hover:text-black px-6 py-3 text-center text-white w-full"
                type="submit">Iscriviti</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>