<section class="height90vh relative background flex flex-col justify-center">
  <div class=" flex flex-row h-3/6 relative justify-center mb-8 lg:px-0 md:px-12 overflow w-full">
    <div
      class="bg-white border border-black shadow-2xl shadow-black relative flex flex-1 flex-row place-content-center lg:py-24 md:flex-none sm:justify-center xl:py-36 z-10 w-2/5 ">
      <div class="flex flex-col  place-content-center space-y-8 max-w-md md:max-w-sm md:px-0 md:w-96 sm:px-4">
        <div class="flex flex-col px-4 w-full">
          <div>
            <h2 class="font-black text-center leading-tight text-black w-full text-xl pb-4 font-display">
              Entra nella community di Notion Builders!
            </h2>
          </div>
        </div>
        <form class="px-4 w-full" action="https://hook.eu1.make.com/9pvswjy9px3rsrxpjul0u9pyfhu9oes5">
          <input name="hidden" autocomplete="false" style="display:none" />
          <input name="_redirect" type="hidden" value="#" />
          <div class="space-y-12">
            <div class="col-span-full border border-black">
              <label class="sr-only" name="email">Email</label>
              <input id="email" name="Email"
                class="w-full focus:outline-none py-3 appearance-none bg-white block border-slate-200 focus:bg-white  focus:ring-black placeholder-slate-400 px-3 sm:text-sm text-black"
                placeholder="Qual è il tuo indirizzo email?" type="Email" required />
            </div>
            <div class="col-span-full flex flex-row space-x-2">
              <input type="checkbox" id="privacy-checkbox"
                class="checked:focus:ring-black focus:ring-black checked:focus:bg-black checked:bg-black checked:hover:bg-black indeterminate:focus:ring-black default:focus:ring-black indeterminate:ring-black default:ring-black"
                required />
              <label for="privacy-checkbox" class="pb-2">Accetto la <span class="underline cursor-pointer"
                  onclick="window.location.href='https://notionbuilders.it/privacy/';">privacy policy</span>
              </label><br>
            </div>
            {/* <div class="col-span-full">
              <button
                class="items-center justify-center rounded-xl focus-visible:outline-black focus:outline-none inline-flex bg-black border-2 border-black duration-200 focus-visible:ring-black hover:bg-transparent hover:border-black hover:text-black px-6 py-3 text-center text-white w-full"
                type="submit">Iscriviti</button>
            </div> */}
            <div class="flex justify-center gap-3 mt-10 flex-col sm:flex-row">
              <button
                class="items-center btn cube cube-hover w-full justify-center font-medium inline-flex bg-black duration-200 hover:bg-transparent hover:text-whiste lg:w-auto px-6 py-3 text-center text-white w-full"
                type="submit">
                <div class="bg-top">
                  <div class="bg-inner"></div>
                </div>
                <div class="bg-right">
                  <div class="bg-inner"></div>
                </div>
                <div class="bg">
                  <div class="bg-inner"></div>
                </div>
                <div class="text">Entra nella community!</div>
              </button>
              {/* <a
                class="items-center justify-center font-bold focus-visible:outline-black focus:outline-none inline-flex duration-200 text-black lg:w-auto px-6 py-3 text-center text-black/80 w-full hover:underline"
                href="#pricing">
                <span></span>
                <ion-icon name="chevron-forward-outline"></ion-icon>
              </a>*/}
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>


<style>
  .background {
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='30' height='30' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M0 22.5h30v15H0zm15-15h30v15H15m-30-15h30v15h-30zm15-15h30v15H0z'  stroke-width='1' stroke='hsla(259, 0%, 0%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(-29,-31)' fill='url(%23a)'/></svg>");
  }

  .height90vh {
    height: 100vh;
  }
</style>