<section id="tally_home">
<div class="mx-auto bg-black w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12 my-24">
<iframe data-tally-src="https://tally.so/embed/3NX84N?hideTitle=1&transparentBackground=1&dynamicHeight=1" loading="lazy" width="100%" height="900" frameborder="0" marginheight="0" marginwidth="0" title="Website form"></iframe><script>var d=document,w="https://tally.so/widgets/embed.js",v=function(){"undefined"!=typeof Tally?Tally.loadEmbeds():d.querySelectorAll("iframe[data-tally-src]:not([src])").forEach((function(e){e.src=e.dataset.tallySrc}))};if("undefined"!=typeof Tally)v();else if(d.querySelector('script[src="'+w+'"]')==null){var s=d.createElement("script");s.src=w,s.onload=v,s.onerror=v,d.body.appendChild(s);}</script>
</div>
</section> 

<style>
#__next > div > main > section > form > div.sc-831fbb99-3.jrOEWo.tally-submit-button > div:nth-child(2) {
    display: none !important;
}

.sc-93fd77ae-0 .dMNvkU .tally-powered {
    display: none !important;
}
</style>
