<!-- component -->
<!-- 
    FAQ - Frequently Asked Questions TailwindCSS Component
    with <details> and <summary> tag with custom [open] animation.
    Created by Surjith S M (@surjithctly)
    See more components: https://web3components.dev 
-->


<section class="relative mx-auto w-full lg:px-16 max-w-7xl md:px-12 items-center px-8 py-24">
	<div class="flex flex-col items-center">
		<h2 class="font-bold text-5xl mt-5 tracking-tight">
			FAQ
		</h2>
		<p class="text-neutral-500 text-xl mt-3">
			Frequenty asked questions
		</p>
	</div>
	<div class="grid divide-y divide-neutral-200 max-w-xl mx-auto mt-8">
		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span> Cos’è Notion??</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
					 Notion è un “all-in-one workspace” ovvero uno strumento di gestione e produttività no-code basato sul cloud. Funziona tramite un intuitivo meccanismo di drag and drop di blocchi che, come dei mattoncini Lego, permettono di costruire qualunque cosa: CRM, task e project manager, database, wiki, ERP, eccetera.
				</p>
			</details>
		</div>
		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span>Perchè dovrei cambiare con l’ennesimo tool in circolazione?</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
					Con Notion puoi avere tutte le funzionalità e le informazioni che ti servono in un unico luogo e puoi dire addio alla maggior parte del caos di tool che già utilizzi, per davvero. Non dovrai fare praticamente nulla, a tutto ci pensa Notion Builders.
				</p>
			</details>
		</div>
		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span>Se utilizzo già altri strumenti, come posso integrarli con Notion??</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
					Notion permette di integrare perfettamente molte tipologie di app e file. Inoltre, grazie all’API aperto, è possibile collegarlo a molti altri strumenti digitali e creare le automazioni.
				</p>
			</details>
		</div>
		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span>Come faccio ad introdurre Notion al mio team?</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
					Una volta spiegati i vantaggi e il metodo di introduzione dello strumento, chiunque opporrà meno resistenza. Non ti preoccupare, potrai iniziare con una consulenza singola e quindi il trasferimento di un solo processo su Notion, e solo in un secondo momento fare l’upgrade. In questo modo, introducendo lo strumento per gradi, formeremo il tuo team sull’intuitivo utilizzo e tramite il nostro supporto costante, non ci sarà più nessun dubbio da parte del tuo team!
				</p>
			</details>
		</div>
		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span>E se Notion non andasse bene per il mio settore?</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
					Notion è perfettamente personalizzabile e permette di costruire soluzioni tailor made. Per ogni cliente studiamo nel dettaglio le sue esigenze, i processi e il business aziendale per poi andare a creare il sistema perfetto e unico per l’azienda di quel settore.
				</p>
			</details>
		</div>
		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span>Quali vantaggi ho nell’affidarmi a voi?</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
					Anzitutto la sicurezza di affidarti a dei professionisti certificati da Notion e competenti di no-code, automazioni ed efficienza di business. In secondo luogo, questa scelta ti permetterebbe di risparmiare tempo, energie e denaro che non andrà speso in soluzioni costose.
				</p>
			</details>
		</div>
		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span>Cosa sono le automazioni e come mi possono essere utili?</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
					Le automazioni sono dei collegamenti tra applicazioni software che si attivano in maniera automatica in presenza di un evento e ne fanno accadere un altro, stabilito a priori, senza la necessità dell’intervento umano. Ad esempio, ogni volta che si aggiunge una riga su un database Notion, in automatico viene aggiunto un evento a Google Calendar oppure creata una cartella su Drive. Risparmierai così molto tempo che avresti altrimenti speso in task ripetitive e noiose oltre che ad altro rischio di errore umano.
				</p>
			</details>
		</div>
		<div id="garanzia1" class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span>Che cos'è la garanzia "Soddisfatti o..."?</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
									</p>
			</details>
		</div>
		<div id="garanzia2" class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span>Che cos'è la garanzia "Non abbiamo segreti" ?</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">

				</p>
			</details>
		</div>
	</div>
</section>

<script>
	// ...
	// extend: {
    //   keyframes: {
    //     fadeIn: {
    //       "0%": { opacity: 0 },
    //       "100%": { opacity: 100 },
    //     },
    //   },
    //   animation: {
    //     fadeIn: "fadeIn 0.2s ease-in-out forwards",
    //   },
    // },
    // ...
</script>