<footer aria-labelledby="footer-heading" class="bg-black">
  <h2 id="footer-heading " class="sr-only">Footer</h2>
  <div class="items-center px-8 mx-auto py-12 gh:py-24 md:px-12 lg:px-16 xl:px-36 2xl:max-w-7xl">
    <div class="xl:grid xl:grid-cols-3 xl:gap-8">
      <div class="text-white xl:col-span-3">
        <span class="text-lg text-center font-semibold lg:text-2xl italic">Notion Builders</span>
        <p class="lg:w-full mt-2 text-sm text-slate-400">
          <span class="mt-6 font-normal">
            La tua azienda su Notion, in abbonamento
          </span>
        </p>
      </div>
      <div class="grid grid-cols-2 gap-8 mt-4 lg:mt-24 xl:col-span-3">
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-xl text-white">Link Utili</h3>
            <ul role="list" class="mt-4 space-y-2">
              <li>
                <a href="/" class="text-sm text-slate-400 underline hover:text-white">
                  Home
                </a>
              </li>
              <li>
                <a href="/#FAQ2" class="text-sm underline text-slate-400 hover:text-white">
                  FAQ
                </a>
              </li>
              <li>
                <a href="/privacy" class="text-sm underline text-slate-400 hover:text-white">
                  Privacy
                </a>
              </li>
            </ul>
          </div>
          <div class="mt-12 md:mt-0">
            <h3 class="text-xl text-white">Contatti</h3>
            <ul role="list" class="mt-4 space-y-2">
              <li>
                <a href="mailto:info@notionbuilders.it" class="text-sm underline text-slate-400 hover:text-white">
                  info@notionbuilders.it
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="md:grid md:grid-cols-2 md:gap-8">
          {/* <div>
            <h3 class="text-xl text-white">More themes</h3>
            <ul role="list" class="mt-4 space-y-2">
              <li>
                <a href="https://lexingtonthemes.com/" class="text-sm text-slate-400 hover:text-white">
                  Lexington Themes
                </a>
              </li>
            </ul>
          </div> */}
          <div class="mt-12 md:mt-0">
            <h3 class="text-xl text-white">Socials</h3>
            <ul role="list" class="mt-4 space-y-2">
              <li>
                <a href="https://www.linkedin.com/company/90814469/admin/feed/posts/"
                  class="text-sm underline text-slate-400 hover:text-white">
                  Notion Builders
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/beatricemula/"
                  class="text-sm underline text-slate-400 hover:text-white">
                  Beatrice Mula
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/daniele-damico/"
                  class="text-sm underline text-slate-400 hover:text-white">
                  Daniele D'Amico
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<footer class="border-t border-white/5 bg-black">
  <div class="items-center px-8 py-6 mx-auto md:px-12 lg:px-16 xl:px-36 2xl:max-w-7xl">
    <div class="md:flex md:items-center md:justify-between">
      <div class="flex justify-center space-x-6 md:order-2">
        <a href="https://www.solopreneurbooster.tech"
          class="p-3 text-sm text-white transition duration-500 ease-in-out transform hover:text-white">
          <p> Notion Builders | Partita Iva 12231150967 © Notion Builders. 2023 | Ogni riproduzione, anche parziale, è
            vietata</p>
          <p> Made with ❤️ by <span class="underline">Solopreneur Booster</span></p>
        </a>
      </div>
    </div>
  </div>
</footer>